#style.css file

*{
    margin: 0;
    font-family: Arial;
    border: border-box;
   
  
  }
  .navbar{
    
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;

    
  }
  .navlogo{
      width:75px;
      height:62px;
      margin-right: 10px;;
  }
  .logo{
    background-image: url("logo3 (23).png");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    
  }
  .search{
    height:35px;
    display:flex;
    border-radius: 2px;
    margin-right: 0px;
  }
 
 #box1{
  width:600px;
 }
 #box2{
  background-color: orange;
  width:35px;
 }
 #acc{
  font-weight:700;
 }
 #ord{
  font-weight:700;
 }
 .head2{
  background-color:#222f3d;
  color:white;
  display:flex;
  align-items: center;
  flex-direction: row;
  height:50px;
 }
 #h6{
  display: flex;
  margin-right: 15px ;
 }
 #h1{
  margin-left: 15px;
  margin-right: 15px;
 }
 #h2{
  margin-left: 15px;
  margin-right: 15px;
 }
 #h3{
  margin-left: 15px;
  margin-right: 15px;
 }
 #h4{
  margin-left: 15px;
  margin-right: 15px;
 }
 #h5{
  margin-left: 15px;
  margin-right: 15px;
 }
#img1{
  background-image: url("i1.jpg");
  background-size: cover;
  height:370px;
 
#text1{
  background-color: white;
  color: black;
  height:35px;
  width:90vw;
  text-align: center;
  position: absolute;
  top: 450px;

  margin-right:50px;
  margin-left: 50px;
  ;
}
}
#link{
  text-decoration: none;
}
.boxes1{
  display:flex;
  justify-content: space-evenly;
  background-color: #aaacae;
  margin-top: 15px;;
  
}
#boxs11{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box11{
  background-image: url("box11.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs12{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box12{
  background-image: url("box12.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs13{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}

#box13{
  background-image: url("box13.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs14{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box14{
  background-image: url("box14.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
.boxes2{
  display:flex;
  justify-content: space-evenly;
  background-color: #aaacae;
  margin-top: 15px;;
  
}
#boxs21{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box21{
  background-image: url("box21.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs22{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box22{
  background-image: url("box23.webp");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs23{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box23{
  background-image: url("box23.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs24{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box24{
  background-image: url("box24.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
.boxes3{
  display:flex;
  justify-content: space-evenly;
  background-color: #aaacae;
 
  
}
#boxs31{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box31{
  background-image: url("box31.webp");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs32{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
}
#box32{
  background-image: url("box32.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs33{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box33{
  background-image: url("box33.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
#boxs34{
  background-color: white;
  border: 2px solid black;
  height:250px;
  width:270px;
  padding-left:40px ;
  margin-top: 35px;
  margin-bottom: 35px;
}
#box34{
  background-image: url("box34.jpg");
  background-size: cover;
  height:200px;
  width:215px;
 
}
.footpanel2{
  background-color: #37475a;
  color:#dddddd;
  height:300px;
  width:100vw;
  display:flex;
  justify-content: space-evenly;
}
.boxes4{
  background-color: white;
  width: 100vw;
  height:300px;
  display:flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-evenly;

}
#withp{
  width:15%;
  height: 100%;



}
.box41{
  background-image: url("box41.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:80%;
  height: 98%;
  padding-bottom: 0px;
}
.box42{
  background-image: url("box42.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 60%;
 
}
.box43{
  background-image: url("box43.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
}
.box44{
  background-image: url("box44.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
}
.box45{
  background-image: url("box45.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
}
.box46{
  background-image: url("box46.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
}
.box47{
  background-image: url("box47.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
}
.box48{
  background-image: url("box48.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:11%;
  height: 100%;
}
#p1{
  align-items: top;
  font-weight: 700;
  font-size: 35px;
}
.footpanel1{
  width:100vw;
  height:40px;
  background-color: #222f3d;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.footpanel3{
  background-color: #37475a;
  color:white;
  border-top:0.5px solid white;
  height:80px;
  display:flex;


  
}
.logo2{
  background-image: url("logo2.webp");
  background-size: cover;
  height:62px;
  width:135px;
  position: absolute;
  left:450px;
  
  

}
.b1{
  display: flex;
  border:0.25px solid white;
  height: 30px;
  width:80px;
  text-align: center;

}
.b2{
  display: flex;
  border:0.25px solid white;
  height: 30px;
  width:120px;
  text-align: center;

}
.b3{
  display: flex;
  border:0.25px solid white;
  height: 30px;
  width:120px;
  text-align: center;
}
.b11{
  position: absolute;
  right:250px;
  display: flex;
}
.footpanel4{
  border-top:0.5px solid white;
  background-color: #37475a;
  color:white;
  height:80px;
  font-size:0.7rem;
  text-align:center
}
.pages{
  padding-top: 25px;;
}
.copyright{
  padding-top: 50x;
}
